<!DOCTYPE HTML>
<html>
{{#developerResumeResponseDto}}
<head>
    <title>{{role}} Detail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/common.css">
    <script src="/js/common.js"></script>
</head>
<body>
<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-sm">
    <a class="navbar-brand" href="/home">NEXTERS 14th</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="/logout" class="btn btn-secondary my-2 my-sm-0" type="button">Logout</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list/developer">Developer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list/designer">Designer</a>
            </li>
            {{#if preRowId}}
            <li class="nav-item">
                <a class="nav-link" href="/{{role}}/{{preRowId}}">&laquo;&laquo;</a>
            </li>
            {{/if}}
            {{#if nextRowId}}
            <li class="nav-item">
                <a class="nav-link" href="/{{role}}/{{nextRowId}}">&raquo;&raquo;</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>

<div class = "container">
    {{#resumeDevelop}}
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>{{name}}</b></li>
                <li class="list-group-item">{{rowId}}</li>
                <li class="list-group-item">{{timestamp}}</li>
                <li class="list-group-item">{{email}}</li>
                <li class="list-group-item">{{phoneNumber}}</li>
                <li class="list-group-item">{{question1}}</li>
                <li class="list-group-item">주분야 : {{question2}}</li>
                <li class="list-group-item">희망분야 : {{question2_2}}</li>
                <li class="list-group-item">평가여부 : {{checkA}} , {{checkB}} , {{checkC}}</li>
                <li class="list-group-item">1차 서류합격 여부 : <b>{{pageTest}}</b> </li>
            </ul>
        </div>

        {{#each cardList}}
        <div class="card">
            <h5 class="card-header">{{questionText}}</h5>
            <div class="card-body">
                <p class="card-text">{{answerText}}</p>
            </div>
        </div>
        {{/each}}

        <div class="card">
            <h5 class="card-header">8. 개인 포트폴리오, 블로그 사이트나 깃허브 주소가 있다면 적어주세요.</h5>
            <div class="card-body">
                <p class="card-text">
                    {{urlList.originContents}}
                    {{#each urlList.urlList}}
                        <li><a href="{{this}}" target="_blank">{{this}}</a></li>
                    {{/each}}
                </p>
            </div>
        </div>
    {{/resumeDevelop}}

    <nav>
        <ul class="pagination">
            {{#if preRowId}}<li class="page-item"><a class="page-link" href="/{{role}}/{{preRowId}}">Previous</a></li>{{/if}}
                            <li class="page-item"><a class="page-link" href="/list/{{role}}">List</a></li>
            {{#if nextRowId}}<li class="page-item"><a class="page-link" href="/{{role}}/{{nextRowId}}">Next</a></li>{{/if}}
        </ul>
    </nav>

</div>
</body>
{{/developerResumeResponseDto}}
</html>